@{
    ViewData["Title"] = "Companies";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
	
<p>•	The 24 companies grouped into 6 groups of 4 are as follows (click to have a look)</p>
<p>o	AI: IBM AI, Microsoft AI, CSIRO AI, Amazon AI</p>
<p>o	Cognitive Computing: IBM CC, Microsoft CC, Google CC, Forbes CC</p> 
<p>o	Cloud Computing: Google Cloud, Microsoft Cloud, IBM Cloud, Amazon Cloud</p>
<p>o	Robotics: Forbes, ZDNet, I-Scoop robots cobots, Automation World</p>
<p>o	Blockchain: Blockchain, PC Magazine, Forbes Blockchains, CSIRO Blockchains</p>



